apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: express-nest-app
  labels:
    app: express-nest-blueprint
data:
  NODE_ENV: 'production'
  PORT: '3000'
  HOST: '0.0.0.0'
  DB_HOST: 'postgres'
  DB_PORT: '5432'
  DB_DATABASE: 'express_nest_db'
  DB_NAME: 'express_nest_db'
  DB_SSL: 'false'
  DB_CONNECTION_LIMIT: '10'
  DB_MIN_LIMIT: '2'
  DB_IDLE_TIMEOUT: '30000'
  DB_CONNECTION_TIMEOUT: '2000'
  REDIS_HOST: 'redis'
  REDIS_PORT: '6379'
  REDIS_DB: '0'
  COMPUTE_AUTO_SPAWN: 'false'
  COMPUTE_MIN_WORKERS: '3'
  COMPUTE_MAX_WORKERS: '8'
  JWT_EXPIRES_IN: '24h'
  SHUT_DOWN_TIMER: '5000'
  SHUTDOWN_RETRIES: '3'
  SHUTDOWN_RETRY_DELAY: '1000'
  RATE_LIMIT_WINDOW_MS: '900000'
  RATE_LIMIT_MAX_REQUESTS: '1000'
  STORAGE_STRATEGY: 's3'
  STORAGE_ENDPOINT: 'http://minio:9000'
  STORAGE_PUBLIC_ENDPOINT: 'http://api.local'
  STORAGE_BUCKET_NAME: 'express-nest-blueprint'
  STORAGE_REGION: 'us-east-1'
  STORAGE_FORCE_PATH_STYLE: 'true'
  KAFKA_BROKERS: 'kafka:9092'
  KAFKA_CLIENT_ID: 'express-nest-blueprint-k8s'
  KAFKA_GROUP_ID: 'express-nest-blueprint-group-k8s'
  KAFKA_METADATA_MAX_AGE: '30000'
  KAFKA_SESSION_TIMEOUT: '45000'
  KAFKA_REBALANCE_TIMEOUT: '90000'
  KAFKA_HEARBEAT_INTERVAL: '3000'
  KAFKAJS_NO_PARTITIONER_WARNING: '1'
  ADMIN_BASE_URL: ''
  UPLOADS_BASE_URL: '/uploads'
