version: "3.8"

services:
  redis:
    container_name: redis_container
    image: redis:latest
    ports:
      - "6379:6379"
    env_file:
      - .env
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    restart: always
    volumes:
      - redis_data:/data
    networks:
      - common

  postgres:
    container_name: postgres_container
    image: postgres:15-alpine
    restart: always
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../../database:/docker-entrypoint-initdb.d
    ports:
      - "54320:5432"
    networks:
      - common

  app-api:
    build:
      context: ../../
      dockerfile: Dockerfile
    container_name: app_api
    restart: always
    env_file:
      - .env
    environment:
      APP_ROLE: api
      COMPUTE_APP_ROLE: api
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - redis
      - minio
    networks:
      - common

  app-worker:
    build:
      context: ../../
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    environment:
      APP_ROLE: worker
      COMPUTE_APP_ROLE: worker
    depends_on:
      - postgres
      - redis
      - minio
    networks:
      - common

  minio:
    image: minio/minio:latest
    container_name: minio_container
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - .env
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - common

networks:
  common:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
  minio_data:
