version: '3.8'

services:
  redis:
    container_name: redis_container
    image: redis:latest
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "your_redis_password"]
    restart: always
    volumes:
      - redis_data:/data
    networks:
      - common

  postgres:
    container_name: postgres_container
    image: postgres:15-alpine
    restart: always
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../../database:/docker-entrypoint-initdb.d
    ports:
      - "54320:5432"
    networks:
      - common

networks:
  common:
    driver: bridge

volumes:
  postgres_data:
  redis_data: