version: '3.8'

services:
  redis:
    container_name: redis_container
    image: redis:latest
    ports:
      - '6379:6379'
    env_file:
      - .env
    command: ['redis-server', '--requirepass', '${REDIS_PASSWORD}']
    restart: always
    volumes:
      - redis_data:/data
    networks:
      - common

  postgres:
    container_name: postgres_container
    image: postgres:15-alpine
    restart: always
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../../database:/docker-entrypoint-initdb.d
    ports:
      - '54320:5432'
    networks:
      - common

  app-api:
    build:
      context: ../../
      dockerfile: Dockerfile
    container_name: app_api
    restart: always
    env_file:
      - .env
    environment:
      APP_ROLE: API
      COMPUTE_APP_ROLE: API
      NODE_ENV: development
    ports:
      - '3000:3000'
    depends_on:
      - postgres
      - redis
      - minio
    networks:
      - common

  app-worker:
    build:
      context: ../../
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    environment:
      APP_ROLE: WORKER
      COMPUTE_APP_ROLE: WORKER
      NODE_ENV: development
    depends_on:
      - postgres
      - redis
      - minio
    networks:
      - common

  minio:
    image: minio/minio:latest
    container_name: minio_container
    ports:
      - '9000:9000'
      - '9001:9001'
    env_file:
      - .env
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - common

  admin-ui:
    image: nginx:alpine
    container_name: admin_ui
    ports:
      - '8080:80'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ../../admin/dist/admin/browser:/usr/share/nginx/html:ro
    depends_on:
      - app-api
    networks:
      - common

networks:
  common:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
  minio_data:
