apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: express-nest-app
  labels:
    app: kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
        - name: kafka
          image: confluentinc/cp-kafka:7.5.0
          command:
            - sh
            - -c
            - |
              unset KAFKA_PORT
              sleep 10
              exec /etc/confluent/docker/run
          env:
            - name: KAFKA_BROKER_ID
              value: '1'
            - name: KAFKA_ZOOKEEPER_SESSION_TIMEOUT_MS
              value: '6000'
            - name: KAFKA_ZOOKEEPER_CONNECT
              value: 'zookeeper:2181'
            - name: KAFKA_LISTENERS
              value: 'PLAINTEXT://0.0.0.0:9092'
            - name: KAFKA_ADVERTISED_LISTENERS
              value: 'PLAINTEXT://kafka:9092'
            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: 'PLAINTEXT:PLAINTEXT'
            - name: KAFKA_INTER_BROKER_LISTENER_NAME
              value: 'PLAINTEXT'
            - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
              value: '1'
            - name: KAFKA_OFFSETS_TOPIC_NUM_PARTITIONS
              value: '1'
            - name: KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
              value: '1'
            - name: KAFKA_TRANSACTION_STATE_LOG_MIN_ISR
              value: '1'
            - name: KAFKA_MIN_INSYNC_REPLICAS
              value: '1'
            - name: KAFKA_DEFAULT_REPLICATION_FACTOR
              value: '1'
            - name: KAFKA_NUM_PARTITIONS
              value: '1'
            - name: KAFKA_AUTO_CREATE_TOPICS_ENABLE
              value: 'true'
            - name: KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS
              value: '0'
            - name: KAFKA_LOG_CLEANER_ENABLE
              value: 'false'
            - name: DOTENV_CONFIG_SILENT
              value: 'true'
          ports:
            - containerPort: 9092
              name: kafka
          livenessProbe:
            tcpSocket:
              port: 9092
            initialDelaySeconds: 60
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 9092
            initialDelaySeconds: 60
            periodSeconds: 10
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: express-nest-app
spec:
  clusterIP: None
  ports:
    - port: 9092
      targetPort: 9092
      name: kafka
  selector:
    app: kafka
