apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  namespace: express-nest-app
spec:
  replicas: 1
  selector:
    matchLabels:
      service: postgres
  template:
    metadata:
      labels:
        service: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15-alpine
        env:
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "password"
        - name: POSTGRES_DB
          value: "express_nest_db"
        ports:
        - containerPort: 5432
        resources:
          limits:
            cpu: "1000m"
            memory: "1Gi"
          requests:
            cpu: "250m"
            memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: express-nest-app
spec:
  selector:
    service: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432